$primary-color: rgba(17,90,213,1);
$sub-color: rgba(7,138,229,0.8);

input[type="email"], input[type="password"], input[type='text'] {
    border-radius: 10px;
    flex: 1;    
    background-color: rgb(235, 234, 234);
}

h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
}

.form__label {
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
}

button {
    margin: 25px 0;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, $primary-color, $sub-color);
    &:hover {
        opacity: 0.8;
    }
}

.link {
    text-decoration: none;
    color: $primary-color;
    &:hover{
        color: red;
    }
}

.icon {
    position: absolute;
    right: 10px;
    bottom: -2px;
    cursor: pointer;
}